.DS_Store
.ipynb_checkpoints/
Alicia_Intuit_data_challenge.zip

zia_train.nb.html
irs_clean.nb.html
intuit.nb.html

R_explore.R
intuit_acs_learn.ipynb
intuit.Rmd



irs_clean.Rmd
train_irs.csv
test_irs.csv

*.csv
*.htm

intuit_irs.ipynb



